[submodule "Wolf.Utility.Core"]
	path = Wolf.Utility.Core
	url = https://github.com/andr9528/Wolf.Utility.Core
	branch = master
[submodule "Application-Creator.wiki"]
	path = Application-Creator.wiki
	url = https://github.com/andr9528/Application-Creator.wiki.git
