[submodule "Wolf.Utility.Core"]
	path = Wolf.Utility.Core
	url = https://github.com/andr9528/Wolf.Utility.Core
	branch = master
[submodule "Application.wiki"]
	path = Application.wiki
	url = https://github.com/andr9528/Application.wiki.git
